// Sizing units: 
$wide: 80vw
$base: 16px
$rounded-image: $base * 5/8

// Fonts 
$normal: 400
$semi-bold: 500
$bold: 700

// Colours 
$black: #0b090a
$white: #ffffff
$dark-blue: #3f37c9
$light-blue: #a2d2ff
$green: #10ac6a
$yellow: #ffd000
$red: #f2542d

// Other
$tile-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25)

// Utilities:
@mixin reset-defaults
    padding: 0
    margin: 0
    box-sizing: border-box

@mixin be-clickable 
    min-height: 48px
    min-width: 48px

@mixin use-hypertext
    text-decoration: none
    color: inherit
    @include be-clickable

// Layout:
@mixin display-fullscreen
    width: 100vw
    height: 100vh

@mixin center-both-axes
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin center-vertically
    display: flex
    flex-direction: column
    align-items: center

@mixin center-absolute
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin lay-vertically
    display: flex
    flex-direction: column

// Components: 
@mixin heading($role)
    max-width: $wide 

    @if $role == primary
        font-size: $base * 3

    @else if $role == secondary
        font-size: $base * 2
        margin: $base * 2 0

    @else if $role == tertiary
        font-size: $base
        align-self: flex-start
        margin: $base * 1/2 0 $base * 1/2 $base * 2.5

@mixin button
    margin: $base * 2
    padding: $base
    color: $white
    border: none
    font-size: $base * 1.5
    background: $dark-blue

@mixin input 
    font-weight: $bold
    font-family: 'Roboto', sans-serif  
    width: $wide
    margin: $base * 1/2
    padding: $base
    background-color: $white
    color: $dark-blue
    border: 3px solid $dark-blue
    @include be-clickable

@mixin break ($size)
    background-color: $black
    border: none
    height: 1px
    width 100%

    @if $size == big
        margin: $base * 5/2 0 $base * 3/2 0

    @else if $size == small
        margin: 3px 

@mixin fixed-menu 
    list-style-type: none
    display: flex
    justify-content: space-around
    position: fixed
    bottom: 0
    width: 100%
    background-color: $white
    border-top: 1px solid $dark-blue 

@mixin side-container 
    display: flex
    align-self: flex-start
    margin-left: $base * 3/2
    margin-bottom: $base * 2

@mixin tile 
    @include lay-vertically
    border: $base / 2 solid $light-blue
    border-radius: $rounded-image
    background: $light-blue
    box-shadow: $tile-shadow
    margin: 0 $base * 5/8
    width: 200px

@mixin small-tile
    background: $light-blue
    width: $wide
    border-radius: $base * 3/4
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25)
    display: flex
    align-items: center
    justify-content: space-between
    margin: $base * 1/2

@mixin back-icon($page)
    position: fixed 

    @if $page == zbieranina
        top: $base * 1.5
        left: $base * 1.5
    
    @else if $page == settings
        top: $base * 2
        left: $base * 2

@mixin small-square 
    width: $base * 3
    height: $base * 3

@mixin tag 
    border-radius: $base * 1/4
    background: $white 
    text-align: center
    width: max-content
    padding: 2px 3px
    margin: $base * 1/4

// Global:    
*
    @include reset-defaults
    user-select: none

html
    font-family: 'Roboto', sans-serif 
    font-size: $base 
    font-weight: $normal

// Utilitties:
.link
    @include use-hypertext
    font-weight: $bold

.break 
    @include break($size: big) 

// Headings:
.heading
    @include heading($role: primary)

.secondary-heading 
    @include heading($role: secondary)

.zbieranina-heading
    align-self: flex-start
    margin-left: $base * 2.5
    font-size: $base * 2.25

.greeting
    color: $dark-blue

.name
    color: $yellow

.subheading
    @include heading($role: tertiary) 
    margin: 0 !important

.tertiary-heading 
    @include heading($role: tertiary) 

.topics-heading
    @include heading($role: primary)
    text-align: center

.documents-heading
    @include heading($role: primary)
    margin-top: $base * 3
    margin-bottom: $base 

.settings-heading
    @include heading($role: primary)
    align-self: flex-start
    margin-top: $base * 6
    margin-left: $base * 3/2

.options-heading
    @include heading($role: tertiary)
    margin: $base * 3 $base * 7/4 $base * 1/2 $base 

// Buttons:
.button 
    @include button
    @include be-clickable

    &:hover
        cursor: pointer 

.start-button, .login-button 
    width: $wide
    margin: 0

.login-button
    margin-top: $base

.start-button
    position: relative
    top: $base * 3

// Menu:
.menu 
    @include fixed-menu

.menu-item 
    padding: $base
    color: $white 

.icon
    max-height: 3 * $base 

// Pages:
.start, .signup
    @include display-fullscreen
    @include center-vertically

.start
    justify-content: space-evenly
    
.signup
    justify-content: space-between

    .logo
        position: relative
        top: $base * 2

.login
    height: calc(100vh - 80px)
    @include center-vertically
    justify-content: space-evenly

.zbieranina, .terms-of-use, .privacy-policy, .settings, .not-found, .planer, .grade-choice, .documents
    @include center-vertically
    overflow: hidden
    margin-bottom: $base * 7

.topics
    @include center-vertically
    overflow: hidden

.topics
    margin-top: $base * 2.5

.topic-list
    background: $light-blue
    border-radius: $rounded-image * 2
    width: 100vw
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: $base * 7
    padding-top: $base * 2

.topic-list .small-tile
    margin: $base * 2/3
    background: $white 

.quote
    text-align: center
    max-width: $wide
    position: relative
    top: $base * 1.75

.blob
    position: fixed
    bottom: -130px
    transform: rotate(-135deg)

.back-zbieranina
    @include back-icon($page: zbieranina)

.back-settings
    @include back-icon($page: settings)

.logo 
    max-width: 90vw

// Zbieranina:
.subject-tiles
    @include side-container

.tile
    @include tile

.illustration
    max-height: 150px
    background: $white
    border-radius: $rounded-image

.cover 
    max-height: 300px
    border-radius: $rounded-image

.small-tile
    @include small-tile

.subject-name
    text-align: center
    font-size: $base * 5/4
    font-weight: $semi-bold
    padding: $base * 3/2    $base * 2 $base * 3/4 $base * 2

.lesson-name
    margin: $base * 5/4
    font-weight: $semi-bold

.item
    @include lay-vertically
    border-radius: $rounded-image
    background: $light-blue
    margin: $base * 1/2
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25)
    min-height: 200px
    width: 40vw
    max-width: 190px

.item-info
    @include lay-vertically
    padding: $base * 1/2

.item-name
    font-size: $base 
    font-weight: $semi-bold
    margin: $base * 1/4

.tag 
    @include tag

.documents-container
    display: flex
    flex-wrap: wrap 
    justify-content: center
    margin: $base * 1/2

// Form:
.form, .confirmation
    @include center-vertically

.password-tooltip 
    align-self: flex-end
    margin-right: $base

.tooltip
    font-weight: $normal
    font-size: $base * 3/4

.checkbox-container
    margin: $base * 3/2
    line-height: 150%
    text-align: center

.checkbox
    margin: $base * 1/2
    
.checkbox-label
    @include be-clickable

.help-message
    text-align: center

// Inputs:
.input 
    @include input

::placeholder
    color: $dark-blue 
    font-weight: $bold

.password-login
    @include be-clickable  
    font-family: 'Roboto', sans-serif  
    line-height: $base
    border: none 
    font-weight: $bold
    color: $dark-blue

.alt-login
    width: 100vw
    position: absolute
    bottom: $base * 2

.signup-link
    color: $dark-blue

.password-bar
    display: flex
    align-items: center
    padding: 0 $base
    justify-content: space-between

.visibility-icon
    transform: scale(.6)

// Settings:
.option
    display: flex
    align-items: center
    margin: $base * 3/4 0

.profile-picture
    @include small-square
    border-radius: 50%

.option-description
    font-weight: $semi-bold
    margin-left: $base * 3/2
    margin-right: $base * 5

.icon-container
    @include small-square
    @include center-both-axes
    border-radius: $rounded-image
