@import '../service/module'
    
// Global:    
*
    @include reset-defaults
    user-select: none

html
    font-family: 'Roboto', sans-serif 
    font-size: $base 
    font-weight: $normal

// Utilitties:
.link
    @include use-hypertext
    font-weight: $bold

.break 
    @include break($size: big) 

// Headings:
.heading
    @include heading($role: primary)

.secondary-heading 
    @include heading($role: secondary)

.zbieranina-heading
    align-self: flex-start
    margin-left: $base * 2.5
    font-size: $base * 2.25

.greeting
    color: $dark-blue

.name
    color: $yellow

.subheading
    @include heading($role: tertiary) 
    margin: 0 !important

.tertiary-heading 
    @include heading($role: tertiary) 

.topics-heading
    @include heading($role: primary)
    text-align: center

.documents-heading
    @include heading($role: documents)

.settings-heading
    @include heading($role: settings)

.options-heading
    @include heading($role: tertiary)
    margin: $base * 3 $base * 7/4 $base * 1/2 $base 

// Buttons:
.button 
    @include button
    @include be-clickable

    &:hover
        cursor: pointer 

.start-button, .login-button , .error-button
    width: $wide
    margin: 0

.error-button
    background: $red !important

.login-button
    margin-top: $base

.start-button
    position: relative
    top: $base * 3

// Menu:
.menu 
    @include fixed-menu

.menu-item 
    padding: $base
    color: $white 

.icon
    max-height: 3 * $base 

// Pages:
.start, .signup
    @include display-fullscreen
    @include center-vertically
    justify-content: space-evenly

    .logo
        position: relative
        top: $base * 2

.login
    height: calc(100vh - 80px)
    @include center-vertically
    justify-content: space-evenly

.zbieranina, .terms-of-use, .privacy-policy, .settings, .not-found, .planer, .grade-choice, .documents
    @include center-vertically
    overflow: hidden
    margin-bottom: $base * 7

.topics
    @include center-vertically
    overflow: hidden

.topics
    margin-top: $base * 2.5

.topic-list
    @include topic-list 

.quote
    text-align: center
    max-width: $wide
    position: relative
    top: $base * 1.75

.blob
    position: fixed
    bottom: -130px
    transform: rotate(-135deg)

.back-zbieranina
    @include back-icon($page: zbieranina)

.error-message
    font-size: $base * 1.5
    text-align: center 

.back-settings
    @include back-icon($page: settings)

.logo 
    max-width: 90vw

// Zbieranina:
.subject-tiles
    @include side-container

.tile
    @include tile

.illustration
    max-height: 150px
    background: $white
    border-radius: $rounded-image

.cover 
    max-height: 300px
    border-radius: $rounded-image

.small-tile
    @include small-tile

.subject-name
    text-align: center
    font-size: $base * 5/4
    font-weight: $semi-bold
    padding: $base * 3/2    $base * 2 $base * 3/4 $base * 2

.lesson-name
    margin: $base * 5/4
    font-weight: $semi-bold

.item
    @include item

.item-info
    @include lay-vertically
    padding: $base * 1/2

.item-name
    font-size: $base 
    font-weight: $semi-bold
    margin: $base * 1/4
    text-overflow: ellipsis
    overflow: hidden 

.tag 
    @include tag

.documents-container
    display: flex
    flex-wrap: wrap 
    justify-content: center
    margin: $base * 1/2

// Form:
.form, .confirmation
    @include center-vertically

.password-tooltip 
    align-self: flex-end
    margin-right: $base

.tooltip
    font-weight: $normal
    font-size: $base * 3/4

.error-message-container
    color: $red 
    margin-top: $base * 1/2

.checkbox-container
    margin: $base * 3/2
    line-height: 150%
    text-align: center

.checkbox
    margin: $base * 1/2
    
.checkbox-label
    @include be-clickable

.help-message
    text-align: center

// Inputs:
.input 
    @include input

.input-error
    border-color: $red !important

    &::after
        opacity: 1
        content: "" 
        width: $base * 1.5 
        height: $base * 1.5 
        border-radius: 50% 
        background: $red 

::placeholder
    color: $dark-blue 
    font-weight: $bold

.password-login
    @include be-clickable  
    font-family: 'Roboto', sans-serif  
    line-height: $base
    border: none 
    font-weight: $bold
    color: $dark-blue

.alt-login
    width: 100vw
    position: absolute
    bottom: $base * 2

.signup-link
    color: $dark-blue

.password-bar
    display: flex
    align-items: center
    padding: 0 $base
    justify-content: space-between

.visibility-icon
    transform: scale(.6)

// Settings:
.option
    display: flex
    align-items: center
    margin: $base * 3/4 0

.profile-picture
    @include small-square
    border-radius: 50%

.option-description
    font-weight: $semi-bold
    margin-left: $base * 3/2
    margin-right: $base * 5

.icon-container
    @include small-square
    @include center-both-axes
    border-radius: $rounded-image
