* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: inherit;
  min-height: 48px;
  min-width: 48px;
  font-weight: 700;
}

.break {
  background-color: #0b090a;
  border: none;
  height: 1px;
  margin: 40px 0 24px 0;
}

.heading {
  max-width: 80vw;
  font-size: 48px;
}

.secondary-heading {
  max-width: 80vw;
  font-size: 32px;
  margin: 32px 0;
}

.zbieranina-heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 40px;
  font-size: 36px;
}

.greeting {
  color: #3f37c9;
}

.name {
  color: #ffd000;
}

.subheading {
  max-width: 80vw;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0 8px 40px;
  margin: 0 !important;
}

.tertiary-heading {
  max-width: 80vw;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0 8px 40px;
}

.topics-heading {
  max-width: 80vw;
  font-size: 48px;
  text-align: center;
}

.documents-heading {
  max-width: 80vw;
  font-size: 48px;
  margin-top: 48px;
  margin-bottom: 16px;
}

.settings-heading {
  max-width: 80vw;
  font-size: 48px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 96px;
  margin-left: 24px;
}

.options-heading {
  max-width: 80vw;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 8px 0 8px 40px;
  margin: 48px 28px 8px 16px;
}

.button {
  margin: 32px;
  padding: 16px;
  color: #ffffff;
  border: none;
  font-size: 24px;
  background: #3f37c9;
  min-height: 48px;
  min-width: 48px;
}

.button:hover {
  cursor: pointer;
}

.start-button, .login-button {
  width: 80vw;
  margin: 0;
}

.login-button {
  margin-top: 16px;
}

.start-button {
  position: relative;
  top: 48px;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #3f37c9;
}

.menu-item {
  padding: 16px;
  color: #ffffff;
}

.icon {
  max-height: 48px;
}

.start, .signup {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.signup {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup .logo {
  position: relative;
  top: 32px;
}

.login {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.zbieranina, .terms-of-use, .privacy-policy, .settings, .not-found, .planer, .grade-choice, .documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 112px;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.topics {
  margin-top: 40px;
}

.topic-list {
  background: #a2d2ff;
  border-radius: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 112px;
  padding-top: 32px;
}

.topic-list .small-tile {
  margin: 10.66667px;
  background: #ffffff;
}

.quote {
  text-align: center;
  max-width: 80vw;
  position: relative;
  top: 28px;
}

.blob {
  position: fixed;
  bottom: -130px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.back-zbieranina {
  position: fixed;
  top: 24px;
  left: 24px;
}

.back-settings {
  position: fixed;
  top: 32px;
  left: 32px;
}

.logo {
  max-width: 90vw;
}

.subject-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 24px;
  margin-bottom: 32px;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 8px solid #a2d2ff;
  border-radius: 10px;
  background: #a2d2ff;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 10px;
  width: 200px;
}

.illustration {
  max-height: 150px;
  background: #ffffff;
  border-radius: 10px;
}

.cover {
  max-height: 300px;
  border-radius: 10px;
}

.small-tile {
  background: #a2d2ff;
  width: 80vw;
  border-radius: 12px;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px;
}

.subject-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 24px 32px 12px 32px;
}

.lesson-name {
  margin: 20px;
  font-weight: 500;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background: #a2d2ff;
  margin: 8px;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 200px;
  width: 40vw;
  max-width: 190px;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
}

.item-name {
  font-size: 16px;
  font-weight: 500;
  margin: 4px;
}

.tag {
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 3px;
  margin: 4px;
}

.documents-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
}

.form, .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password-tooltip {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 16px;
}

.tooltip {
  font-weight: 400;
  font-size: 12px;
}

.checkbox-container {
  margin: 24px;
  line-height: 150%;
  text-align: center;
}

.checkbox {
  margin: 8px;
}

.checkbox-label {
  min-height: 48px;
  min-width: 48px;
}

.help-message {
  text-align: center;
}

.input {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 80vw;
  margin: 8px;
  padding: 16px;
  background-color: #ffffff;
  color: #3f37c9;
  border: 3px solid #3f37c9;
  min-height: 48px;
  min-width: 48px;
}

::-webkit-input-placeholder {
  color: #3f37c9;
  font-weight: 700;
}

:-ms-input-placeholder {
  color: #3f37c9;
  font-weight: 700;
}

::-ms-input-placeholder {
  color: #3f37c9;
  font-weight: 700;
}

::placeholder {
  color: #3f37c9;
  font-weight: 700;
}

.password-login {
  min-height: 48px;
  min-width: 48px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  border: none;
  font-weight: 700;
  color: #3f37c9;
}

.alt-login {
  width: 100vw;
  position: absolute;
  bottom: 32px;
}

.signup-link {
  color: #3f37c9;
}

.password-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visibility-icon {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.option-description {
  font-weight: 500;
  margin-left: 24px;
  margin-right: 80px;
}

.icon-container {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */