// Sizing units: 
$wide: 80vw
$base: 16px
$rounded-image: $base * 5/8

// Fonts 
$normal: 400
$semi-bold: 500
$bold: 700

// Colours 
$black: #0b090a
$white: #ffffff
$dark-blue: #3f37c9
$light-blue: #a2d2ff
$green: #10ac6a
$yellow: #ffd000
$red: #f2542d
$gradient: linear-gradient(146.23deg, #A2D2FF 26.12%, rgba(63, 55, 201, 0.75) 55.05%, #F2542D 100.19%)

// Utilities:
@mixin reset-defaults
    padding: 0
    margin: 0
    box-sizing: border-box

@mixin be-clickable 
    min-height: 48px
    min-width: 48px

@mixin use-hypertext
    text-decoration: none
    color: inherit
    @include be-clickable

// Layout:
@mixin display-fullscreen
    width: 100vw
    height: 100vh

@mixin center-both-axes
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin center-vertically
    display: flex
    flex-direction: column
    align-items: center

@mixin center-absolute
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin lay-vertically
    display: flex
    flex-direction: column

// Components: 
@mixin heading($role)
    max-width: $wide 

    @if $role == primary
        font-size: $base * 3

    @else if $role == secondary
        font-size: $base * 3/2
        margin: $base * 2 0

    @else if $role == tertiary
        font-size: $base
        align-self: flex-start
        margin: $base * 1/2 0 $base * 1/2 $base * 9/4

@mixin button
    margin: $base * 2
    padding: $base
    color: $white
    border: none
    font-size: $base * 1.5
    background: $dark-blue

@mixin input 
    width: $wide
    margin: $base * 1/2
    padding: $base
    background-color: $white
    color: $dark-blue
    border: 3px solid $dark-blue
    @include be-clickable

@mixin break ($size)
    background-color: $black
    border: none
    height: 1px
    width 100%

    @if $size == big
        margin: $base * 5/2 0 $base * 3/2 0

    @else if $size == small
        margin: 3px 

@mixin fixed-menu 
    list-style-type: none
    display: flex
    justify-content: space-around
    position: fixed
    bottom: 0
    width: 100%
    background-color: $white
    border-top: 1px solid $dark-blue 

@mixin side-container 
    display: flex
    align-self: flex-start
    flex-wrap: nowrap
    margin-left: $base * 3/2
    margin-bottom: $base * 5/4
    overflow-x: scroll 

@mixin tile 
    @include lay-vertically
    border: 1px solid $black
    border-radius: $rounded-image
    background: $light-blue
    margin: 0 $base * 5/8

@mixin small-tile
    background: $light-blue
    width: $wide
    border-radius: $base * 3/4
    display: flex
    align-items: center
    margin: $base * 1/2

@mixin search-bar-container 
    height: $base * 3
    margin-bottom: $base * 2
    border-radius: $base
    padding: $base * 3/4
    width: $wide
    background: $light-blue
    overflow: hidden
    display: flex
    align-items: center

@mixin search-bar
    background: transparent 
    border: none
    height: inherit
    width: inherit
    font-family: 'Roboto', sans-serif 
    font-size: $base 
    line-height: $base

    &:focus
        border: none
        outline: none

    &::placeholder
        color: $black

@mixin back-icon($page)
    position: fixed 

    @if $page == zbieranina
        top: $base
        left: $base
    
    @else if $page == settings
        top: $base * 2
        left: $base * 2

@mixin small-square 
    width: $base * 3
    height: $base * 3

@mixin tag 
    border-radius: $base * 1/4
    background: $white 
    text-align: center
    width: max-content
    padding: 2px 3px
    margin: $base * 1/4

// Global:    
*
    @include reset-defaults
    user-select: none

html
    font-family: 'Roboto', sans-serif 
    font-size: $base 
    font-weight: $normal

// Utilitties:
.link
    @include use-hypertext
    font-weight: $bold

.break 
    @include break($size: big) 

.tile-break
    @include break($size: small)  

// Headings:
.heading
    @include heading($role: primary)

.secondary-heading 
    @include heading($role: secondary)

.greeting
    font-size: $base * 9/4

.tertiary-heading 
    @include heading($role: tertiary) 

.topics-heading
    @include heading($role: primary)
    text-align: center

.documents-heading
    @include heading($role: primary)
    margin-top: $base * 3
    margin-bottom: $base 

.settings-heading
    @include heading($role: primary)
    align-self: flex-start
    margin-top: $base * 6
    margin-left: $base * 3/2

.options-heading
    @include heading($role: tertiary)
    margin: $base * 3 $base * 7/4 $base * 1/2 $base 

// Buttons:
.button 
    @include button
    @include be-clickable

    &:hover
        cursor: pointer 

.start-button, .login-button 
    width: $wide
    margin: 0

.login-button
    margin-top: $base

.start-button
    position: relative
    top: $base * 3

// Menu:
.menu 
    @include fixed-menu

.menu-item 
    padding: $base
    color: $white 

.icon
    max-height: 3 * $base 

// Pages:
.start, .signup
    @include display-fullscreen
    @include center-vertically
    justify-content: space-evenly
    
.login
    height: calc(100vh - 80px)
    @include center-vertically
    justify-content: space-evenly

.zbieranina, .terms-of-use, .privacy-policy, .settings, .not-found, .password-recovery, .planer, .grade-choice, .topics, .documents
    @include center-vertically
    overflow: hidden
    margin-bottom: $base * 6

.topics
    margin-top: $base * 4

.quote
    text-align: center
    max-width: $wide
    position: relative
    top: $base * 3.5

.blob
    position: fixed
    bottom: -130px
    transform: rotate(-135deg)

.back-zbieranina
    @include back-icon($page: zbieranina)

.back-settings
    @include back-icon($page: settings)

.logo 
    max-width: 90vw

// Zbieranina:
.subject-tiles
    @include side-container

.tile
    @include tile

.tile-image, .documents-image
    border-top-left-radius: $rounded-image
    border-top-right-radius: $rounded-image

.small-tile
    @include small-tile

.small-tile-image
    border-top-left-radius: $rounded-image
    border-bottom-left-radius: $rounded-image

.subject-name
    text-align: center
    font-size: $base * 5/4
    font-weight: $semi-bold
    padding: $base * 3/4 $base * 2

.lesson-name
    margin: $base * 5/4
    font-weight: $semi-bold

.topics-image
    border-radius: $base * 5/4
    border: 2px solid $black
    margin: $base 0 

.item
    @include lay-vertically
    border-radius: $rounded-image
    background: $light-blue
    border: 1px solid $black 
    margin: $base * 1/4 

.item-info
    @include lay-vertically
    padding: $base * 1/2

.item-name
    font-size: $base 
    font-weight: $semi-bold
    margin: $base * 1/4

.tag 
    @include tag

.documents-image 
    border-bottom: 1px solid $black 

.documents-container
    display: flex
    flex-wrap: wrap 
    width: $wide * 9/8

// Form:
.form, .confirmation
    @include center-vertically

.password-tooltip 
    align-self: flex-end
    margin-right: $base

.tooltip
    font-weight: $normal
    font-size: $base * 3/4

.checkbox-container
    margin: $base * 3/2
    line-height: 150%
    text-align: center

.checkbox
    margin: $base * 1/2
    
.checkbox-label
    @include be-clickable

.help-message
    text-align: center

// Inputs:
.input 
    @include input

::placeholder
    color: $dark-blue 
    font-weight: $bold

.password-input 
    @include lay-vertically

.password-login
    @include be-clickable  
    font-family: 'Roboto', sans-serif  
    line-height: $base
    border: none 

.alt-login
    width: 100vw
    position: absolute
    bottom: $base * 2

.signup-link
    color: $dark-blue

.password-bar
    display: flex
    align-items: center
    padding: 0 $base
    justify-content: space-between

.visibility-icon
    transform: scale(.6)

.search
    @include search-bar-container

.search-icon
    margin-left: $base * 1/2
    margin-right: $base

.search-bar
    @include search-bar

// Settings:
.option
    display: flex
    align-items: center
    margin: $base * 3/4 0

.profile-picture
    @include small-square
    border-radius: 50%

.option-description
    font-weight: $semi-bold
    margin-left: $base * 3/2
    margin-right: $base * 5

.icon-container
    @include small-square
    @include center-both-axes
    border-radius: $rounded-image
    background: $light-blue
